@import '../../../globals.scss';

.card-container {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    padding: 24px;

    .top-left-border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .bottom-right-border {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

@include tablet {
    .card-container {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        position: relative;
        padding: 24px;
    
        .top-left-border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    
        .bottom-right-border {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}

@include laptop {
    .card-container {
        display: flex;
        max-width: 900px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        position: relative;
        padding: 64px;
    }
}

@include desktop {
    .card-container {
        display: flex;
        max-width: 900px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        position: relative;
        padding: 64px;
    }
}

@include large-desktop {
    .card-container {
        display: flex;
        max-width: 1200px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        position: relative;
        padding: 64px;
    }
}